body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: hsl(201, 11%, 66%);
}

#secao-logo {
    background-image: url('./images/bg-header-desktop.png');
}

button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
}

.btn-ios {
    background-color: hsl(171, 66%, 44%);
}

.btn-mac {
    background-color: hsl(233, 100%, 69%);
}

#lado-esquerdo {
    float: left;
    width: 40%;
}

#lado-direito {
    float: right;
    width: 40%;
}

#middle {
    text-align: center;
}


h1 {
    color: hsl(210, 10%, 33%);
 }
 h2 {
    color: hsl(210, 10%, 33%);
 }
 h3 {
    color: hsl(210, 10%, 33%);
 }
